@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Coffee Shop</h1>
    <p>Please click <a asp-action="Register">here</a> to register.</p><br /><hr />
    <p>Already registered? Click <a asp-action="Summary">here</a> to find your name in the list..</p>
    
</div>