@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Coffee Shop</h1>
    <p>Please click <a asp-action="Register">here</a> to register.</p>
    
</div>