@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="">
    <div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" name="FirstName" id="firstName" />
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="LastName" id="lastName" />
        </div>
        <div>
            <label for="emailAddress">Email Address</label>
            <input type="email" name="EmailAddress" id="emailAddress" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="Password" id="password" />
        </div>
    </div>
    <div>
        <input type="submit" name="FirstName" class="btn btn-primary"/>
    </div>
</form>